Package: com.iconboot.Nicon
Name: Nicon
Architecture: iphoneos-arm
Section: aTweaks
Author:  iconboot 
Depiction: https://iconboot.github.io/depictions/?p=com.iconboot.Nicon
Description: Adds setup files, icons and sources to repo
Maintainer:  iconboot  <iconboot@mail.ru>
Sponsor: http://iconboot.github.io/
Essential: yes
Priority: required
Version: 1.0.4
